<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
<h1> Newspaper info </h1>
<p th:text="${'Name: '+newspaper.getName() }">VALUE</p>
<p th:text="${'Number: '+newspaper.getNumber() }">VALUE</p>
<p th:text="${'Date: '+newspaper.getDate() }">VALUE</p>

<a th:href="@{/newspaper/{id}/edit(id=${newspaper.getId()})}">Edit</a>
<br/>
<form th:method="DELETE" th:action="@{/newspaper/{id}(id=${newspaper.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>